.welcomeDiv{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.paginationDiv{
    width: 150px;
    /* border: 1px solid red; */
    margin: 0px auto 0px auto;

    display: flex;
    justify-content: space-between;
}
.paginationDiv span{
    cursor: pointer;
    font-weight: 500;
}